<h3 class="display-4 text-center mb-3 text-primary">Nuevo libro</h3>
<h5 class="text-center text-primary"><i class="fas fa-book-medical"></i></h5>

<hr>

<form autocomplete="off" [formGroup]="form" (ngSubmit)="enviar()">
    <div>
        <!-- ---------------------- PRIMER INPUT ------------------ -->
        <div class="form-group row">
            <label class="col-3 col-form-label text-center font-weight-bold" for="title">Título:</label>
            <div class="col-9">
                <input class="form-control" type="text" name="" placeholder="Título" formControlName="title" [class.is-invalid]="validTitle">
                <div *ngIf="validTitle" class="invalid-feedback">Campo obligatorio</div>
            </div>
            
        </div>
        <!-- ---------------------- SEGUNDO INPUT ------------------ -->
        <div class="form-group row">
            <label class="col-3 col-form-label text-center font-weight-bold" for="autor">Autor:</label>
            <div class="col-9">
                <input class="form-control" type="text" name="" placeholder="Autor" formControlName="autor" [class.is-invalid]="validAutor">
                <div *ngIf="validAutor" class="invalid-feedback">Campo obligatorio</div>
            </div>
        </div>
        <!-- ---------------------- TERCER INPUT ------------------ -->
        <div class="form-group row">
            <label class="col-3 col-form-label text-center font-weight-bold" for="editorial">Editorial:</label>
            <div class="col-9">
                <input class="form-control" type="text" name="" placeholder="Editorial" formControlName="editorial" [class.is-invalid]="validEditorial">
                <div *ngIf="validEditorial" class="invalid-feedback">Campo obligatorio</div>
            </div>
        </div>
        <!-- ---------------------- CUARTO INPUT ------------------ -->
        <div class="form-group row">
            <label class="col-3 col-form-label text-center font-weight-bold" for="year">Año de publicación:</label>
            <div class="col-9">
                <input class="form-control" type="number" name="" placeholder="Año de publicación" formControlName="year" [class.is-invalid]="validYear">
                <div *ngIf="validYear" class="invalid-feedback">Campo obligatorio</div>
            </div>
        </div>
        <!-- ---------------------- QUINTO INPUT ------------------ -->
        <div class="form-group row">
            <label class="col-3 col-form-label text-center font-weight-bold" for="code">Código:</label>
            <div class="col-9">
                <input class="form-control" type="number" name="" placeholder="Código" formControlName="code" [class.is-invalid]="validCode">
                <div *ngIf="validCode" class="invalid-feedback">Campo obligatorio</div>
            </div>
        </div>

        <hr>

        <!-- ---------------------- BOTÓN ENVIAR ------------------ -->
        <div class="form-group row">
            <div type="button" class="col-12 input-group mt-3">
                <button type="submit" class="btn btn-outline-primary btn-block">Guardar</button>
            </div>
        </div>

    </div>
</form>

<div *ngIf="submited" class="alert alert-success text-center" role="alert">
    USUARIO CREADO CON ÉXITO
  </div>

