<h3 class="display-4 text-center mb-3 text-primary">Nuevo usuario</h3>
<h5 class="text-center"><i class="fas fa-user text-primary"></i></h5>

<hr>

<form autocomplete="off" [formGroup]="form" (ngSubmit)="enviar()">
    <div>
        <!-- ---------------------- PRIMER INPUT ------------------ -->
        <div class="form-group row">
            <label class="col-3 col-form-label text-center font-weight-bold" for="name">Nombre:</label>
            <div class="col-9">
                <input class="form-control" type="text" name="" placeholder="Nombre" formControlName="name" [class.is-invalid]="validName">
                <div *ngIf="validName" class="invalid-feedback">Campo obligatorio</div>
            </div>
            
        </div>
        <!-- ---------------------- SEGUNDO INPUT ------------------ -->
        <div class="form-group row">
            <label class="col-3 col-form-label text-center font-weight-bold" for="apellido">Apellido:</label>
            <div class="col-9">
                <input class="form-control" type="text" name="" placeholder="Apellido" formControlName="apellido" [class.is-invalid]="validLastName">
                <div *ngIf="validLastName" class="invalid-feedback">Campo obligatorio</div>
            </div>
        </div>
        <!-- ---------------------- TERCER INPUT ------------------ -->
        <div class="form-group row">
            <label class="col-3 col-form-label text-center font-weight-bold" for="email">Email:</label>
            <div class="col-9">
                <input class="form-control" type="email" name="" placeholder="Correo electrónico" formControlName="email" [class.is-invalid]="validEmail">
                <div *ngIf="validEmail" class="invalid-feedback">Campo obligatorio</div>
            </div>
        </div>

        <hr>

        <!-- ---------------------- BOTÓN ENVIAR ------------------ -->
        <div class="form-group row">
            <div type="button" class="col-12 input-group mt-3">
                <button type="submit" class="btn btn-outline-primary btn-block">Guardar</button>
            </div>
        </div>

    </div>
</form>

<div *ngIf="submited" class="alert alert-success text-center" role="alert">
    USUARIO CREADO CON ÉXITO
  </div>
